fastapi
uvicorn[standard]
python-multipart
pydantic
numpy
python-dotenv
joblib
groq
faiss-cpu
sentence-transformers
torch
transformers
scikit-learn
pillow
pytesseract
pdfplumber
python-docx
opencv-python-headless