fastapi
uvicorn[standard]
python-multipart
pydantic
numpy
python-dotenv
joblib
groq
faiss-cpu
sentence-transformers
torch
transformers
scikit-learn
xgboost
lightgbm
pillow
pytesseract
pdfplumber
opencv-python-headless
pdf2image